@import "tailwindcss";
@plugin '@tailwindcss/typography';

/* @theme {
  --color-main: oklch(30% 0.08 260);
  --color-muted: oklch(56% 0.05 250);
  --color-primary: oklch(62% 0.22 155);

  --color-bg-main: oklch(98% 0.02 220);
  --color-bg-muted: oklch(96% 0.03 230);
  --color-hover: oklch(94% 0.05 230);

  --color-border-main: oklch(85% 0.03 230);
} */

/* .prose {
  --tw-prose-body: var(--color-muted);
  --tw-prose-headings: var(--color-main);
  --tw-prose-lead: var(--color-main);
  --tw-prose-links: var(--color-primary);
  --tw-prose-bold: var(--color-main);
  --tw-prose-counters: var(--color-main);
  --tw-prose-bullets: var(--color-main);
  --tw-prose-hr: var(--color-border-main);
  --tw-prose-quotes: var(--color-muted);
  --tw-prose-quote-borders: var(--color-border-main);
  --tw-prose-captions: var(--color-muted);
  --tw-prose-code: var(--color-muted);
  --tw-prose-pre-code: var(--color-muted);
  --tw-prose-pre-bg: var(--color-bg-muted);
  --tw-prose-th-borders: var(--color-border-main);
  --tw-prose-td-borders: var(--color-border-main);
} */
 
/* html { scrollbar-gutter: stable both-edges; overflow-y: scroll; }
body { overflow-y: visible; } */
