---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Publication from '../components/Publication.astro';
import publications from "../assets/publications.json";

const description = `I'm a Ph.D. student in Computer Science at the National University of Singapore, 
working with Prof. Jin Song Dong and Prof. Yun Lin.
My research focuses on self-evolving agentic AI for cybersecurity operations, GUI testing, and automated software engineering.`;
---

<Layout title="Xiwen Teoh" description={description}>
	<main>
		<h1 class="name">Xiwen Teoh</h1>
		<section class="profile">
			<Image 
				src="/profile.png"
				alt="Xiwen's profile photo."
				width="165"
				height="220"
				quality="max"
				style={{borderRadius: "20px", border: "1px solid var(--primary-text-color)"}}
			/>
			<p>
				I'm a Ph.D. student in CS at the National University of Singapore, advised by <a href="https://www.comp.nus.edu.sg/~dongjs/">Prof. Jin Song Dong</a>. My research focuses on self-evolving agentic AI for web security, GUI testing, and automated software engineering. 
				I work in close collaboration with <a href="http://linyun.info/" target="_blank">Prof. Yun Lin</a> at the Data-Driven Software Technology Lab (DDST), Shanghai Jiao Tong University (SJTU).
			</p>
			<p>
				<a href="https://github.com/gyataro" target="_blank">Github</a> / 
				<a href="https://scholar.google.com/citations?hl=en&user=BBOJEwQAAAAJ" target="_blank">Google Scholar</a> / 
				<a href="https://www.linkedin.com/in/xiwenteoh/" target="_blank">LinkedIn</a> / 
				<a href="mailto:teoh6g@gmail.com" target="_blank">Email</a>
			</p>
		</section>
		<section class="publications">
			<h2>Publications</h2>
			<p class="publications-legend">(*): Co-first Author</p>
			<ul>
				{ publications.map(publication => <Publication {...publication} />) }
			</ul>
		</section>
	</main>
</Layout>

<style>
	ul {
		list-style: none;
	}

	ul, li {
		margin: 0;
		padding: 0;
	}

	.publications {
		margin-top: 32px;
	}

    .publications-legend {
        color: var(--primary-text-color);
    }
</style>
