---
import BaseHead from "../components/BaseHead.astro";
import ProfileCard from "../components/ProfileCard.astro";
import Navbar from "../components/Navbar.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
interface Props {
  title?: string;
  description?: string;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
} = Astro.props;
const path = Astro.url.pathname;
---

<!doctype html>
<html id="root" lang="en" class="bg-main">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class:list={[
      "mx-auto p-10",
      "pb-[calc(env(safe-area-inset-bottom)+4rem)] lg:pb-10",
      "max-w-5xl",
    ]}
  >
    <Navbar />
    <div class:list={[
      "sm:hidden mb-12",
      { hidden: path !== "/" },
    ]}>
      <ProfileCard />
    </div>
    <div class="sm:grid sm:grid-cols-3 sm:gap-20">
      <div class="hidden sm:block mb-12 sm:mb-0 sm:col-span-1 sm:sticky sm:top-12 sm:h-fit">
        <ProfileCard />
      </div>
      <div class="col-span-2 prose">
        <slot />
      </div>
    </div>
  </body>
</html>
